version: 2
registries:
  docker-hardened:
    type: "docker-registry"
    url: "dhi.io"
    username: ${{ secrets.DOCKERHUB_USERNAME }}
    password: ${{ secrets.DOCKERHUB_TOKEN }}
    replaces-base: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "uv"
    directory: "/server"
    schedule:
      interval: "cron"
      cronjob: "0 21 * * 2,5"
    cooldown:
      default-days: 1
    ignore:
      - dependency-name: "uv"
  - package-ecosystem: "npm"
    directory: "/client"
    versioning-strategy: "increase"
    schedule:
      interval: "cron"
      cronjob: "0 21 * * 2,5"
    cooldown:
      default-days: 1
    ignore:
      - dependency-name: "playwright"
      - dependency-name: "@playwright/test"
    groups:
      eslint:
        patterns:
          - "eslint"
          - "@eslint/js"
      ts-eslint:
        patterns:
          - "@typescript-eslint/*"
  - package-ecosystem: "docker"
    directories:
      - "/client"
      - "/server"
    registries: "*"
    ignore:
      - dependency-name: "*playwright"
      - dependency-name: "node"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "python"
        update-types:
          - "version-update:semver-minor"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "terraform"
    directory: "/terraform"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "pip"
    directories:
      - "/server"
      - "/terraform"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
