name: client-build
on:
  pull_request:
    branches:
      - main
    paths:
      - "client/src/**"
      - "client/nginx/**"
      - "client/vite.config.ts"
      - "client/tsconfig.json"
      - "client/package*.json"
      - "client/Dockerfile"
      - ".github/workflows/client-build.yml"
  workflow_call:
    secrets:
      IDENTITY_PROVIDER:
        required: true
      PROJECT_ID:
        required: true
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.name }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          registry: ${{ vars.DOCKER_REGISTRY }}
          logout: true
      - name: Login to Google Cloud
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
      - name: Configure Docker for registry
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: gcloud auth configure-docker ${{ vars.REPOSITORY_SERVER }} --quiet
      - name: Build image
        run: |
          docker build --build-arg API_URL=${{ vars.SERVER_URL }} \
          -t ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.CLIENT_IMAGE_TAG }} .
        working-directory: ./client
      - name: Push image
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          docker push ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.CLIENT_IMAGE_TAG }}
