name: client-deploy
on:
  pull_request:
    branches:
      - main
    paths:
      - "client/src/**"
      - "client/nginx/**"
      - "client/vite.config.ts"
      - "client/tsconfig.json"
      - "client/package*.json"
      - "client/Dockerfile"
      - ".github/workflows/client_deploy.yml"
  push:
    branches:
      - main
    paths:
      - "client/src/**"
      - "client/nginx/**"
      - "client/vite.config.ts"
      - "client/tsconfig.json"
      - "client/package*.json"
      - "client/Dockerfile"
      - ".github/workflows/client_deploy.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to Google Cloud
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
      - name: Configure Docker for registry
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: gcloud auth configure-docker ${{ vars.REPOSITORY_SERVER }} --quiet
      - name: Build image
        run: |
          docker build --build-arg API_URL=${{ vars.SERVER_URL }} \
          -t ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.CLIENT_IMAGE_TAG }} .
        working-directory: ./client
      - name: Push image
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          docker push ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.CLIENT_IMAGE_TAG }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@2028e2d7d30a78c6910e0632e48dd561b064884d # v3.0.1
        with:
          service: ${{ vars.CLIENT_SERVICE_NAME }}
          image: ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.CLIENT_IMAGE_TAG}}
          region: ${{ vars.GCP_REGION }}
