name: client-deploy
on:
  push:
    branches:
      - main
    paths:
      - "client/src/**"
      - "client/nginx/**"
      - "client/vite.config.ts"
      - "client/tsconfig.json"
      - "client/package*.json"
      - "client/Dockerfile"
      - ".github/workflows/client-deploy.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/client-build.yml
    secrets:
      IDENTITY_PROVIDER: ${{ secrets.IDENTITY_PROVIDER }}
      PROJECT_ID: ${{ secrets.PROJECT_ID}}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: GCP-client
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Login to Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@2028e2d7d30a78c6910e0632e48dd561b064884d # v3.0.1
        with:
          service: ${{ vars.CLIENT_SERVICE_NAME }}
          image: ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.CLIENT_IMAGE_TAG }}
          region: ${{ vars.GCP_REGION }}
