name: client-test
on:
  pull_request:
    branches:
      - main
    paths:
      - "client/src/**"
      - "client/tests/components/**"
      - "client/vite.config.ts"
      - "client/vitest.config.ts"
      - "client/tsconfig.json"
      - "client/eslint.config.js"
      - "client/package*.json"
      - ".github/workflows/client-test.yml"
  workflow_dispatch:
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Install dependencies
        run: npm ci
        working-directory: ./client
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: setup
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Install dependencies
        run: npm ci
        working-directory: ./client
      - name: Check linting, formatting & types
        run: |
          npm run eslint
          npm run prettier
          npm run typecheck
        working-directory: ./client
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: setup
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Install dependencies
        run: npm ci
        working-directory: ./client
      - name: Run tests
        run: npm run test
        working-directory: ./client
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [check, test]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Install dependencies
        run: npm ci
        working-directory: ./client
      - name: Build
        run: npm run build
        working-directory: ./client
