name: lighthouse
on:
  workflow_dispatch:
    inputs:
      url:
        description: "URL to audit"
        required: true
        default: "https://energy-data-client-r6oz7us4ea-lz.a.run.app"
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run audit
        id: lighthouse
        uses: treosh/lighthouse-ci-action@fcd65974f7c4c2bf0ee9d09b84d2489183c29726 # 12.6.1
        with:
          urls: ${{ inputs.url }}
          runs: 3
          uploadArtifacts: false
          temporaryPublicStorage: true
      - name: Report
        run: |
          LINKS=$(echo '${{ steps.lighthouse.outputs.links }}' | jq -r --arg url "$URL" '.[$url]')
          echo "[Results]($LINKS)" >> $GITHUB_STEP_SUMMARY
        env:
          URL: ${{ inputs.URL }}
