name: playwright
on:
  pull_request:
    branches:
      - main
    paths:
      - "client/src/**"
      - "client/tests/playwright/**"
      - "client/vite.config.ts"
      - "client/playwright.config.ts"
      - "client/tsconfig.json"
      - "client/package*.json"
      - "utility/Dockerfile"
      - ".github/workflows/playwright.yml"
  workflow_dispatch:
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  extract-base-image:
    runs-on: ubuntu-latest
    outputs:
      base-image: ${{ steps.get-base-image.outputs.base-image }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Get base image
        id: get-base-image
        run: |
          IMAGE=$(sed -n 's/^FROM[[:space:]]\+\(.*\)/\1/p' ${{ vars.PLAYWRIGHT_DOCKERFILE }} | head -n 1)
          echo "base-image=$IMAGE" >> $GITHUB_OUTPUT
  playwright:
    needs: extract-base-image
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.extract-base-image.outputs.base-image }}
      options: --init --user 1001 --ipc=host
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "client/package-lock.json"
      - name: Install dependencies
        run: npm ci
        working-directory: ./client
      - name: Build
        run: npm run build
        working-directory: ./client
      - name: Run tests
        run: npm run playwright
        working-directory: ./client
        env:
          CI: true
          WORKERS: ${{ vars.WORKERS }}
          MAX_DIFF_PIXEL_RATIO: ${{ vars.MAX_DIFF_PIXEL_RATIO }}
