name: server-deploy
on:
  push:
    branches:
      - main
    paths:
      - "server/src/**"
      - "server/pyproject.toml"
      - "server/uv.lock"
      - "server/requirements.txt"
      - "server/Dockerfile"
      - ".github/workflows/server-deploy.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    permissions:
      id-token: write
      contents: read
    if: github.event_name == 'push'
    uses: ./.github/workflows/server-build.yml
    secrets:
      IDENTITY_PROVIDER: ${{ secrets.IDENTITY_PROVIDER }}
      PROJECT_ID: ${{ secrets.PROJECT_ID}}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: always() && needs.build.result == 'success' || needs.build.result == 'skipped'
    environment: GCP-server
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Login to Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@2028e2d7d30a78c6910e0632e48dd561b064884d # v3.0.1
        with:
          service: ${{ vars.SERVER_SERVICE_NAME }}
          image: ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.SERVER_IMAGE_TAG }}
          region: ${{ vars.GCP_REGION }}
          env_vars: |-
            FINGRID_API_KEY=${{ secrets.FINGRID_API_KEY }}
            ENVIRONMENT=${{ vars.ENVIRONMENT }}
            ALLOWED_ORIGIN=${{ vars.CLIENT_URL }}
            CACHE_TTL=${{ vars.CACHE_TTL }}
            RATE_LIMIT=${{ vars.RATE_LIMIT }}
