name: server-build
on:
  pull_request:
    branches:
      - main
    paths:
      - "server/src/**"
      - "server/pyproject.toml"
      - "server/uv.lock"
      - "server/requirements.txt"
      - "server/Dockerfile"
      - ".github/workflows/server-build.yml"
  workflow_call:
    secrets:
      IDENTITY_PROVIDER:
        required: true
      PROJECT_ID:
        required: true
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.name }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to Google Cloud
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.IDENTITY_PROVIDER }}
      - name: Configure Docker for registry
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: gcloud auth configure-docker ${{ vars.REPOSITORY_SERVER }} --quiet
      - name: Build image
        run: |
          docker build -t ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.SERVER_IMAGE_TAG }} .
        working-directory: ./server
      - name: Push image
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          docker push ${{ vars.REPOSITORY_SERVER }}/${{ secrets.PROJECT_ID }}/${{ vars.REPOSITORY_NAME }}/${{ vars.SERVER_IMAGE_TAG }}
