name: server-test
on:
  pull_request:
    branches:
      - main
    paths:
      - "server/src/**"
      - "server/tests/**"
      - "server/pyproject.toml"
      - "server/uv.lock"
      - "server/requirements.txt"
      - ".github/workflows/server_test.yml"
  workflow_dispatch:
jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          architecture: "x64"
      - name: Install uv
        run: pip install -r requirements.txt
        working-directory: ./server
      - name: Install dependencies
        run: uv sync --frozen
        working-directory: ./server
      - name: Check linting & formatting
        run: |
          uv run ruff check .
          uv run ruff format .
        working-directory: ./server
  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          architecture: "x64"
      - name: Install uv
        run: pip install -r requirements.txt
        working-directory: ./server
      - name: Install dependencies
        run: uv sync --frozen
        working-directory: ./server
      - name: Run unit tests
        run: uv run python -m unittest discover -v -s tests/unit
        working-directory: ./server
  api-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          architecture: "x64"
      - name: Install uv
        run: pip install -r requirements.txt
        working-directory: ./server
      - name: Install dependencies
        run: uv sync --frozen
        working-directory: ./server
      - name: Run API tests
        run: uv run python -m unittest discover -v -s tests/api
        env:
          FINGRID_API_KEY: ${{ secrets.FINGRID_API_KEY }}
        working-directory: ./server
